#upper {
	height:125px;
	width:946px;
	background-color: red;
}
.outer {
	height: 1074px;
	width: 946px;
	background-color: yellow;
}
.center {
	height: 875px;
	width: 663px;
	margin-left: 140px;
	margin-right: 140px;
	background-color: blue;
}
#bottom {
	height: 74px;
	width: 663px;
	margin-left: 140px;
	background-color: green;
}